.address {
  font-weight: normal;
font-size: rem(21px);
color: #292929;
@include phones {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: rem(16px);
}
&__info {
  @include phones {
   
  }
}

}