.paginator {
  display: flex;
  justify-content: center;
  margin-bottom: rem(60px);

&__link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

&__item {
  margin-right: rem(6px);
    width: rem(80px);
    height: rem(80px);
    border: rem(6px) solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
&__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}

.active {
  border: rem(6px) solid #FEDB3F;
}